.MainContainer {
  border: 0px solid orange;
}

.BoxList {
  /* border: 1px solid green; */
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}